*{
    margin: 0px;
}




body{
margin: 0px;
padding: 0px;    
background-color: burlywood;

    .divGifstTrendings{
        
        width: 300px;
        height: 300px;
        margin: 0vw 0px 0px 0vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        
        
            
                        
            }
            #card{
                color: white;
                display: flex;
                flex-direction: column;
                align-content: space-around;
                margin: 0px;
                width: 300px;
                height: 300px;
                position: absolute;
                background-color: #572EE5;
                opacity: 0;

                &:hover{
                    opacity: 0.6;
                    transition: 0.6s;
                }
                h2{
                    margin: 50% 0 0 3%;
                }
                p{
                    margin: 5% 0 0 3%;
                }           
                .botones{           
                    display: flex;
                    flex-direction: row-reverse;
                    align-content: flex-end;
                    position: relative;
                    margin: 0px 0px 0px 55%;
                    
                    img{
                        margin: 8px 8px 0px 0px;
                        opacity: 60%;
                        
                        &:hover{
                            opacity: 100%;
                            transition: 0.4s;
                        }   
                    }   
                } 
        
        .gifs{
            width: 290px;
            height: 290px;
            background-color: aqua;
            position: absolute;
            margin: 0px;
            padding: 0px; 
        }
    }
}