.gifTrendings {
    width: 300px;
    height: 300px;
    margin: 0vw 0px 0px 0vw;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  #card {
    color: white;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin: 0px;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: #572ee5;
    opacity: 0;
    h3 {
      margin: 70% 0 0 10px;
    }
    h2 {
      margin: 0 0 0 10px;
    }
    #botones {
      display: flex;
      flex-direction: row-reverse;
      align-content: flex-end;
      position: absolute;
  
      margin: 0px 0px 0px 55%;
      opacity: 100%;
      img {
        margin: 8px 8px 0px 0px;
      }
    }
  
    #gifs {
      width: 290px;
      height: 290px;
      background-color: aqua;
      position: absolute;
      margin: 0px;
      padding: 0px;
    }
  }
  