

#contenedorSearchs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;

    #contenedorImagenes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
      
    }
    
    button{
        color: #572EE5;
        border: 1px solid #572EE5;
        border-radius: 25px;
        padding: 1rem 2rem 1rem 2rem;
        margin-top: 10vw;

        &:hover{
            background-color: #572EE5;
            color: white;
        }
        &:active{
            color: #9CAFC3;
            border-bottom: 0px;  
        }
        
    }
    
        
  
}