.trending_gifos{
    background-color: #F3F5F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 640px;
    margin-top: 15vw;
    
    padding: 15vw;
    h2{
        color: #572EE5;
        font-size: 1.5rem;
        font-family: 'Montserrat';
        
        
    }
    h3{
        text-align: center;
        width: 90%;
        font-size: 1rem;
        margin: 5vw;
        font-family: 'roboto';
        

    }
    .gifTrendings{
        display: flex;
        flex-direction: row;
        #contenedorGif{
        display: flex;
        flex-direction: row;
        margin: 2%;
        background-color: blueviolet;
        width: 20vw;
        height: 20vw;
            #card{
                color: white;
                display: flex;
                flex-direction: column;
                align-content: space-around;
                margin: 0px;
                width: 20vw;
                height: 20vw;        
                background-color: #572EE5;
                position: absolute;
                opacity: 0;
                
                &:hover{
                    opacity: 0.7;
                    transition: 0.6s;
                }
                h2{
                    margin: 50% 0 0 3%;
                    color: white;
                }
                p{
                    margin: 5% 0 0 3%;
                    color: white;
                }           
                .botones{           
                    display: flex;
                    flex-direction: row-reverse;
                    align-content: flex-end;
                    position: relative;
                    margin: 0px 0px 0px 55%;   
                        img{
                            margin: 8px 8px 0px 0px;
                            opacity: 60%;
                            &:hover{
                                opacity: 2;
                                transition: 0.4s;
                            }   
                        }   
                    } 
                }  
            .gif{
                width: 20vw;
                height: 20vw;
                background-color: aqua;
                position: absolute;
                margin: 0px;
                padding: 0px; 
                img{
                    width: 20vw;
                    height: 20vw;
                }
            }
        }
        
        
            
        
        
    }
    
}
@media screen and (min-width: 500px){
    .trending_gifos{
        margin-top: 5vw;
        padding: 3vw;
 
        h3{
            margin: 1vw;
        }
        
    }

}
