@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
}

body {
  border-bottom: solid #572EE5 5px;
}

.bodydark {
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  background-color: #37383C;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  width: 100vw;
  height: 25vw;
  max-height: 90px;
  background-color: white;
  border-top: solid #572EE5 5px;
  z-index: 100;
}

header img {
  max-width: 100%;
  max-height: 100%;
  padding: 4vw;
}

header label {
  padding: 4vw;
}

header .buscadorHeader {
  border: 1px #572EE5 solid;
  border-radius: 25px;
  width: 90%;
  height: auto;
  min-height: 4vw;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 551px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

header .buscadorHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

header .buscadorHeader div .lupa {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .buscadorHeader div #lupa2 {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3%;
}

header .buscadorHeader input {
  border: 0px solid;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  outline: none;
}

header ul {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #572EE5;
  opacity: 00%;
  list-style: none;
  padding-top: 10vw;
  font-family: 'Montserrat';
}

header ul li {
  font-family: 'Montserrat';
  margin: 3vw;
}

header ul li:hover {
  border-bottom: 2px solid #5ED7C6;
}

header ul li:active {
  color: #9CAFC3;
  border-bottom: 0px;
}

header ul .bordesito {
  width: 41px;
  height: 0.1px;
}

header ul .creargifo {
  display: none;
}

header input:checked ~ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 90%;
}

header input {
  display: none;
}

header .burguer {
  display: block;
}

header input:checked ~ .burger {
  display: none;
}

header .close {
  display: none;
}

header input:checked ~ .close {
  display: block;
}

@media screen and (min-width: 500px) {
  header img {
    padding: 1vw;
  }
  header label {
    display: none;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 100%;
    height: 80%;
    max-width: 60%;
    max-height: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1vw;
    background-color: white;
    color: #572EE5;
    font-size: 1rem;
    font-family: 'Montserrat';
  }
  header ul .bordesito {
    display: none;
  }
  header ul .creargifo {
    display: block;
  }
  header input:checked ~ .close {
    display: none;
  }
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  font-family: 'Montserrat';
}

.inicio h1 {
  color: #572EE5;
  font-size: 1.5rem;
  width: 76vw;
  text-align: center;
  display: inline-block;
  margin-bottom: 8vw;
  max-width: 900px;
}

.inicio .img_header {
  width: 80vw;
  max-width: 400px;
}

.inicio .buscador {
  border: 1px #572EE5 solid;
  border-radius: 25px;
  width: 90%;
  height: auto;
  min-height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 551px;
}

.inicio .buscador div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

.inicio .buscador div input {
  border: 0px solid;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  outline: none;
}

.inicio .buscador div .lupa {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inicio .buscador div #lupa2 {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3%;
}

.inicio .buscador #opciones_buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inicio .buscador #opciones_buscador li {
  padding: 1vw;
  list-style: none;
  font-family: 'Roboto';
  color: #9CAFC3;
  font-size: 1rem;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 0px 0px 4%;
}

.inicio .buscador #opciones_buscador li img {
  margin-right: 3%;
}

.inicio .buscador_dark {
  border: 1px white solid;
  border-radius: 25px;
  width: 90%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 551px;
}

.inicio .buscador_dark input {
  border: 0px solid;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  padding-left: 10%;
  outline: none;
}

.inicio .buscador_dark .lupa {
  padding-right: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inicio h2 {
  color: #572EE5;
  font-size: 1rem;
  margin-top: 7vw;
  font-family: 'Montserrat';
}

.inicio p {
  color: #572EE5;
  font-size: 14px;
  width: 76vw;
  text-align: center;
  margin-top: 3vw;
  font-family: 'Montserrat';
}

.inicio .separador {
  width: 40%;
  height: 0.1px;
  background-color: #9CAFC3;
  margin: 10vw;
  opacity: 0.5;
}

@media screen and (min-width: 500px) {
  .inicio h1 {
    font-size: 35px;
    width: 50%;
    margin-bottom: 4vw;
  }
  .inicio h2 {
    margin-top: 4vw;
    font-size: 18px;
  }
  .inicio p {
    margin-top: 1vw;
    font-size: 1rem;
  }
  .inicio .separador {
    display: none;
    padding: 0px;
  }
}

#gifMax {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gifMax #salirGifMax {
  width: 100%;
  height: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5% 15% 0 0;
}

#gifMax #imgMax {
  margin-top: 5%;
  max-width: 50%;
  max-height: 40%;
}

#gifMax #divbotonesTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin-top: 5%;
}

#gifMax #divbotonesTitulo #divGifMaxbotones {
  width: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3%;
}

#gifMax #divbotonesTitulo #divGifMaxbotones img {
  margin: 1%;
  border: 1px solid #9CAFC3;
  border-radius: 6px;
  width: 2vw;
  height: 2vw;
}

#gifMax #divbotonesTitulo #divGifph1 {
  width: 80%;
}

#gifMax #divbotonesTitulo #divGifph1 h1 {
  font-size: 16px;
}

#gifMax #divbotonesTitulo #divGifph1 p {
  font-size: 16px;
}

.contenedores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.contenedores h2 {
  color: #572EE5;
  font-size: 1.5rem;
  font-family: 'Montserrat';
}

.contenedores .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
}

.contenedores .contenedor img {
  width: 156px;
  height: 120px;
  padding: 4vw;
}

.contenedores button {
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 10vw;
}

.contenedores button:hover {
  background-color: #572EE5;
  color: white;
}

.contenedores button:active {
  color: #9CAFC3;
  border-bottom: 0px;
}

.contenedores .favoritos {
  display: none;
  background-color: #572EE5;
}

.mascotas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#divMisGifos {
  display: none;
}

#contenedorSearchs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
}

#contenedorSearchs #contenedorImagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contenedorSearchs button {
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 10vw;
}

#contenedorSearchs button:hover {
  background-color: #572EE5;
  color: white;
}

#contenedorSearchs button:active {
  color: #9CAFC3;
  border-bottom: 0px;
}

#divCrearGif {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#divCrearGif #contenedorCrearGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion {
  border: 1px solid #572EE5;
  width: 60vw;
  height: 30vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2% 96% 2%;
      grid-template-columns: 2% 96% 2%;
  -ms-grid-rows: 4% 92% 4%;
      grid-template-rows: 4% 92% 4%;
  position: relative;
  margin-left: -6%;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion .borde {
  width: 2vw;
  height: 2vw;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion .supIzq {
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion .supDer {
  border-top: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin-left: -2vw;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion .infDer {
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin-left: -2vw;
  margin-top: -2vw;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion .infIzq {
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin-top: -2vw;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #centro {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #centro h1 {
  color: #572EE5;
  text-align: center;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #centro p {
  font-family: 'Roboto';
  font-size: 1rem;
  text-align: center;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #centro #grabacion {
  display: none;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #centro .recordingVideo {
  width: 100%;
  height: 100%;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #centro img {
  max-width: 100%;
  max-height: 100%;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #subiendoGif {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(87, 46, 229, 0.8);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #subiendoGif p {
  color: white;
  margin-top: 2%;
}

#divCrearGif #contenedorCrearGif #zonaGrabacion #subiendoGif #cargando {
  width: 10%;
  height: 10%;
}

#divCrearGif #contenedorCrearGif #camara {
  width: 20vw;
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vw;
}

#divCrearGif #contenedorCrearGif #movie {
  margin-bottom: -35vw;
  max-width: 20vw;
}

#divCrearGif #pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
}

#divCrearGif #pagination .numero {
  border: 1px solid #572EE5;
  color: #572EE5;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vw;
}

#divCrearGif #pagination #timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#divCrearGif #pagination #timer #segundero {
  display: none;
  color: #572EE5;
}

#divCrearGif #pagination #timer #repetirCaptura {
  display: none;
  color: #572EE5;
}

#divCrearGif #pagination #timer #repetirCaptura:hover {
  border-bottom: 2px solid #5ED7C6;
}

#divCrearGif .border {
  border: 3px solid #572EE5;
  border-radius: 25px;
  width: 70vw;
  height: 0px;
}

#divCrearGif button {
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 2vw;
  text-align: center;
}

#divCrearGif button:hover {
  background-color: #572EE5;
  color: white;
}

#divCrearGif button:active {
  color: #9CAFC3;
  border-bottom: 0px;
}

#divCrearGif #grabar {
  display: none;
}

#divCrearGif #stop {
  display: none;
}

#divCrearGif #subir {
  display: none;
}

#divCrearGif #contenedorFavoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.trending_gifos {
  background-color: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100vw;
  max-height: 640px;
  margin-top: 15vw;
  overflow: scroll;
  padding: 15vw;
}

.trending_gifos h2 {
  color: rgba(87, 46, 229, 0.7);
  font-size: 1.5rem;
  font-family: 'Montserrat';
}

.trending_gifos h3 {
  text-align: center;
  width: 90%;
  font-size: 1rem;
  margin: 5vw;
  font-family: 'roboto';
}

.trending_gifos .gifTrendingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 500px) {
  .trending_gifos {
    margin-top: 5vw;
    padding: 3vw;
  }
  .trending_gifos h3 {
    margin: 1vw;
  }
}

.gifStyle {
  width: 25vw;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2vw;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.gifStyle img {
  width: 25vw;
  height: 20vw;
  position: absolute;
  z-index: 3;
}

.gifStyle .tarjeta {
  width: 25vw;
  height: 20vw;
  position: absolute;
  opacity: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 40% 10% 10% 25%;
      grid-template-columns: 15% 40% 10% 10% 25%;
  -ms-grid-rows: 20% 35% 10% 10% 25%;
      grid-template-rows: 20% 35% 10% 10% 25%;
  z-index: 2;
}

.gifStyle .tarjeta .botones {
  overflow: hidden;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px;
}

.gifStyle .tarjeta .botones img {
  width: 3vw;
  height: 3vw;
  position: relative;
  margin: 0.5vw 0 0 0;
}

.gifStyle .tarjeta p {
  color: white;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  margin-left: 1vw;
}

.gifStyle .tarjeta h1 {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.gifStyle:hover img {
  z-index: 2;
}

.gifStyle:hover .tarjeta {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(87, 46, 229, 0.7);
  z-index: 3;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-height: 116px;
}

footer h4 {
  font-size: 13px;
  margin: 1vw;
  font-family: 'Roboto';
}

footer .redes {
  width: 24vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 500px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .redes {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  footer .redes img {
    margin: 1vw;
  }
  footer h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 4vw 0px 4vw 0px;
  }
}
/*# sourceMappingURL=style.css.map */